.Adicionar-turma {
  margin-top: -48px;
  width: 100%;
  max-width: var(--medium-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.Adicionar-turma__title {
  width: 100%;
}

.Adicionar-turma__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}