.Estudante-editar {
  width: 100%;
  max-width: var(--medium-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.Estudante-editar__title {
  width: 100%;
}

.Estudante-editar__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Estudante-editar__docs,
.Estudante-editar__parents,
.Estudante-editar__address {
  display: flex;
  gap: 12px;
}
